<div class="contact-links">
  <a href="mailto:lh.bauer18@gmail.com"><strong>Email</strong></a>
  <span>|</span>
  <a href="https://matrix.to/#/@len1218:matrix.org" target="_blank"><strong>Matrix</strong></a>
  <span>|</span>
  <a href="https://signal.me/#eu/im6DoZ9kPdsJwHPOkSbT48xVKFLpUuGPTAgMEfsmPXiKwzdYG9pID5qSvBo7a8uG" target="_blank"><strong>Signal</strong></a>
  <span>|</span>
  <a href="https://wa.me/qr/6SRXMSANVEE5M1" target="_blank"><strong>WhatsApp</strong></a>
</div>

<div class="contact-links">
  <a href="https://github.com/argator18" target="_blank"><strong>GitHub</strong></a>
  <span>|</span>
  <a href="https://www.linkedin.com/in/len-bauer-47248b235/" target="_blank"><strong>LinkedIn</strong></a>
</div>

<div class="contact-links">
  <a href="https://www.instagram.com/lh.bauer18" target="_blank"><strong>Instagram</strong></a>
  <span>|</span>
  <a href="https://open.spotify.com/user/jensbauer18" target="_blank"><strong>Spotify</strong></a>
  <span>|</span>
  <a href="https://www.superprof.de/hacking-cybersecurity-and-ctfs-how-find-vulnerabilities-computer-systems-english-deutsch.html" target="_blank"><strong>Superprof</strong></a>
</div>

<div class="contact-links">
  <a href="https://www.polarsteps.com/LenBauer" target="_blank"><strong>Polarsteps</strong></a>
</div>
