<nav class="sidebar">
  <ul>
    <li><a href="/">home</a></li>
    <ul class="submenu">
    <li>
      <span>life</span>
      <ul class="subsubmenu">
        <li><a href="#">exposure</a></li>
        <li><a href="#">Bang for your Bugs</a></li>
        <li><a href="#">news</a></li>
        <li><a href="#">recommendations</a></li>
        <li><a href="#">surf & ski</a></li>
        <li><a href="#">daily life</a></li>
        <li><a href="#">projects & hobbies</a></li>
        <li><a href="#">diy</a></li>
      </ul>
    </li>

    <li>
      <span>tech</span>
      <ul class="subsubmenu">
        <li><a href="#">ctf</a></li>
        <li><a href="#">docs</a></li>
        <li><a href="#">math irl</a></li>
      </ul>
    </li>

    <li>
      <span>text</span>
      <ul class="subsubmenu">
        <li><a href="#">discussions</a></li>
        <li><a href="#">thoughts</a></li>
      </ul>
    </li>

    <li>
      <span>travel</span>
      <ul class="subsubmenu">
        <li><a href="#">places</a></li>
        <li><a href="#">people</a></li>
        <li><a href="#">spoonlist</a></li>
        <li><a href="#">highlights</a></li>
      </ul>
    </li>

    <li>
      <span>vibes</span>
      <ul class="subsubmenu">
        <li><a href="#">music</a></li>
        <li><a href="#">pictures</a></li>
        <li><a href="#">quotes, manifestations & wisedom</a></li>
      </ul>
    </li>

  </ul>
</nav>

