<nav class="sidebar">
  <ul>
    <li><a href="/">home</a></li>
    <ul class="submenu">
    <li>
      <span>life</span>
      <ul class="subsubmenu">
      </ul>
    </li>

    <li>
      <span>tech</span>
      <ul class="subsubmenu">
        <li><a href="/ctf">ctf</a></li>
      </ul>
    </li>

    <li>
      <span>text</span>
      <ul class="subsubmenu">
        <li><a href="/text">thoughts</a></li>
      </ul>
    </li>

    <li>
      <span>travel</span>
      <ul class="subsubmenu">
      </ul>
    </li>

    <li>
      <span>vibes</span>
      <ul class="subsubmenu">
      </ul>
    </li>

  </ul>
</nav>

