---
layout: default
mathjax: true
---


{% assign segments = page.url | split: '/' %}
  {% assign len      = segments | size %}
  {% assign new_len  = len | minus: 1 %}
  {% assign parent_segments = segments | slice: 0, new_len %}
  {% assign parent_url      = parent_segments | join: '/' %}
<div class="post-layout">
  <!-- Move .nav-up inside the same .post-header as the H1 -->
  <div class="post-header">
    <a
      href="{{ parent_url | relative_url }}"
      class="nav-up"
      style="text-decoration: none; font-family: monospace; font-size: 1.2rem;"
      >..</a
    >
    <h1 class="post-title">{{ page.title }}</h1>
  </div>

  <div class="content-wrapper">
    <article class="post-content">
      {{ content }}
    </article>
  </div>
</div>
